aws_region		= "ap-south-1"

vpc_cidr		= "10.20.0.0/16"
vpc_public_subnet_cidr	= "10.20.1.0/24"
vpc_private_subnet_cidr	= "10.20.2.0/24" 

ec2_type		= "t3.micro"
ec2_volume_size 	= 30

vpn_ec2_type		= "t2.small"
vpn_ec2_volume_size 	= 20
vpn_admin_port		= 443

tags = {    
    Owner = "YourName"
    Project = "YourProject"
    ManagedBy = "Terraform"
}

rds_username = "admin"
rds_password = "CHANGE_ME_SECURE_PASSWORD"

ec2 = {
  fastapi = {
    environment      = "prod"
    efs_enable       = false
    efs_dir          = ""
    use_public_subnet = true
    use_fastapi      = true
  }
}


